body {
  background: linear-gradient(to right, white, #05dbf2);
  background-size: cover;
  font-family: 'Anybody', sans-serif;
  margin: 0;
  padding: 10px;
  transition: padding 0.5s;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  margin: 20px 0;
}

h2 {
  margin: 20px 0;
  padding: 10px;
  font-size: 1.5em;
  background-color: #ddd;
  border: 5px solid #333;
  border-radius: 25px;
}

p {
  margin: 20px 0;
  padding: 10px;
  font-size: 1.5em;
  color: black;
}

.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  h2,
  p {
    font-size: 1em;
  }
}

@media screen and (max-width: 820px) {
  body {
    padding: 5px;
  }
}
