body {
  background: linear-gradient(to right, white, #05dbf2);
  font-family: 'Anybody', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove default margin */
}

h2 {
  margin: 20px 0; /* Add margin to the top and bottom of h2 for spacing */
  padding: 10px; /* Add padding for spacing */
  text-align: center;
}

p {
  margin: 20px 0; /* Add margin to the top and bottom of paragraphs for spacing */
  padding: 10px; /* Add padding for spacing */
  font-family: 'Anybody', sans-serif;
  color: black;
  text-align: left;
}
