body {
  font-family: 'Anybody', sans-serif;
  margin: auto;
  padding: 0px;
  font-size: large;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 80px;
}

.nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-container li {
  display: inline;
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

h2 {
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  background-color: #ddd;
  border: 5px solid #333;
  border-radius: 25px;
}

p {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}

.about-me-text {
  margin: 10px 0;
  font-family: 'Anybody', sans-serif;
  color: black;
}

.image-container {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay-text h2,
.overlay-text p {
  margin: 0;
  padding: 10px;
}

.overlay-text p {
  font-size: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 600px) {
  .nav-container li {
    display: block;
    margin: 10px 0;
  }

  .overlay-text {
    width: 80%;
  }
  footer {
    color: #ecf0f1;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: auto;
  }
  #slideMenu {
    display: none;
  }

  #slideMenuButton {
    margin-top: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #slideMenu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #2c3e50;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  #slideMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #slideMenu li {
    margin-bottom: 10px;
  }

  #slideMenu a {
    text-decoration: none;
    color: #fff;
  }
}
