body {
  background: linear-gradient(to right, white, #05dbf2);
  font-family: 'Anybody', sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 60px;
}

h2 {
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  background-color: #ddd;
  border: 5px solid #333;
  border-radius: 25px;
}

h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 40px;
}

p {
  margin: 20px 0;
  padding: 10px;
  text-align: left;
  font-size: 1.5em;
  font-family: 'Anybody', sans-serif;
  color: black;
}

footer {
  color: #ecf0f1;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 600px) {
  .imageone,
  .imagetwo,
  .imagethree {
    width: 100%;
    height: auto;
  }
}
